.nav-link{
    color: #333;
}

.clinic{
    padding-top: 100px;
}

p{
    color: #666;
    font-size: 16px;
}

h1{
    font-weight: 600;
    font-size: 40px;
}

.tipos p,.tipos h3{
 color: white;
}

.services{
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding-top: 75px;
}

/* apenas filhos diretos de content services vao receber isso */
.content-services > h2, .content-services > p{
    color: white;
}

.card-service h3{
    font-size: 24px;
}

.card-service p{
    margin-bottom: 0;
}

.contact{
    padding-top: 100px;
}

@media (max-width: 767px){
    .dentista{
        text-align: center;
    }
    .dentista img{
        max-width: 250px;
    }
}
